* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  text-align: center;
  background-color: #fff3d3;
}
svg {
  width: 450px;
  display: flex;
  margin: 0 auto;
}
.chapeu,
.oculos,
.bigode {
  fill: none;
  stroke: #1e1817;
  visibility: hidden;
}

/*-- CONTROLS --*/
#replay,
#replay svg {
  width: 24px;
  height: 24px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}
#slider,
#sliderOculos {
  width: 400px;
  margin: 20px auto;
  display: flex;
  cursor: pointer;
}
.ui-slider {
  height: 2px;
  background: none;
}
.ui-state-default,
.ui-widget-content .ui-state-default,
.ui-widget-header .ui-state-default {
  background: #1e1817;
  border: none;
  width: 10px;
  height: 10px;
  cursor: pointer;
}
