

  .demo-layout-transparent {
    background: url('./assets/galapagos-islands-110961.jpg') center / cover;
  }
  .demo-layout-transparent .mdl-layout__header,
  .demo-layout-transparent .mdl-layout__drawer-button {
    /* This background is dark, so we set text to white. Use 87% black instead if
       your background is light. */
    color: white;
  }

  .headertext {
      color: white;
      width: 100%;
  }

  .demo-card-event.mdl-card {
    width: 350px;
    height: 350px;
    background: greenyellow;
  }
  .demo-card-event > .mdl-card__actions {
    border-color: rgba(255, 255, 255, 0.2);
  }
  .demo-card-event > .mdl-card__title {
    align-items: flex-start;
  }
  .demo-card-event > .mdl-card__title > h4 {
    margin-top: 0;
  }
  .demo-card-event > .mdl-card__actions {
    display: flex;
    box-sizing:border-box;
    align-items: center;
  }
  .demo-card-event > .mdl-card__actions > .material-icons {
    padding-right: 10px;
  }
  .demo-card-event > .mdl-card__title,
  .demo-card-event > .mdl-card__actions,
  .demo-card-event > .mdl-card__actions > .mdl-button {
    color: #fff;
  }
  
  .btext{
      color: black;
  }
  .wtext{
    color: white;
}
  button#show-dialog {
      color: white;
  }
  .container {
      width: 400px;
  }
  .mdl-slider{
      width: 400px;
  }