body {
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

svg {
  max-width: 42rem;
  max-height: 42rem;
  width: 100%;
  height: auto;
}
