body {
  position: absolute;
  top: 5%;
  left: 28%;
  font-size: 30px;
  font-weight: bold;
}

div#first {
  color: red;
  animation: one 2s linear 0s;
}

/* .one span {
  animation: one 2s linear infinite 0s;
} */

div#second {
  color: blue;
  animation: two 2s linear 2s;
}
div#third {
  color: green;
}

@keyframes one {
  0% {
    transform: translateY(-200px) translateZ(300px) rotateY(-120deg);
  }

  100% {
    transform: translateY(0px) translateZ(0px) rotateY(0deg);
  }
}

@keyframes two {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
