p {
  color: red;
}
#tagline {
  color: orange;
}

em.firstcolor {
  color: rgb(0, 120, 20, 0.4);
}

strong {
  color: green;
}

strong:hover {
  color: blue;
}

@keyframes around {
  0% {
    left: 0;
    top: 0;
  }
  25% {
    left: 240px;
    top: 0;
  }
  50% {
    left: 240px;
    top: 140px;
  }
  75% {
    left: 0;
    top: 140px;
  }
  100% {
    left: 0;
    top: 0;
  }
}
p {
  animation: around 4s linear infinite;
}
